@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

// Font Family
$txt-font: "Montserrat", sans-serif;

// Primary color
$gradient-clr: hsl(236, 72%, 79%), hsl(237, 63%, 64%);

//Neutral colors
$bg-clr: hsl(240, 78%, 98%);
$txt1-clr: hsl(234, 14%, 74%);
$mainTxt-clr: hsl(233, 13%, 49%);
$amount-clr: hsl(232, 13%, 33%);

$transition: all 0.3s ease-in;
